body {
  margin: 0;
  text-align: center;
  font-family: 'Merriweather', serif;
}

.wrapper {
  display: grid;
  grid-template-columns: auto;
  gap: 5px 10px;
  background-color: #fff;
  color: #444;
}

h1 {
  font-size: 90px;
  margin-top: 0;
  font-family: 'Sacramento', serif;
}

h2 {
  font-family: 'Montserrat', serif;
}

h3 {
  font-family: 'Montserrat', serif;
}

.top-container {
  background-color: #E4F9F5;
  position: relative;
  padding-top: 100px;
}

.middle-container {

}

.bottom-container {

}

.top-cloud {
  position: absolute;
  right: 300px;
  top: 50px;
}

.bottom-cloud {
  position: absolute;
  left: 300px;
  bottom: 300px;
}

a:link, a:visited {
  background-color: black;
  color: white;
  padding: 14px 25px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
}

a:hover, a:active {
  background-color: black;
}
